.bg-blanco {
  width: 100%;

  padding: 10px;

  width: 100%;
  height: 100%;
  --s: 82px;
  --c1: #b2b2b2;
  --c2: #ffffff;
  --c3: #d9d9d9;

  --_g: var(--c3) 0 120deg, #0000 0;
  background: conic-gradient(from -60deg at 50% calc(100% / 3), var(--_g)),
    conic-gradient(from 120deg at 50% calc(200% / 3), var(--_g)),
    conic-gradient(
      from 60deg at calc(200% / 3),
      var(--c3) 60deg,
      var(--c2) 0 120deg,
      #0000 0
    ),
    conic-gradient(from 180deg at calc(100% / 3), var(--c1) 60deg, var(--_g)),
    linear-gradient(
      90deg,
      var(--c1) calc(100% / 6),
      var(--c2) 0 50%,
      var(--c1) 0 calc(500% / 6),
      var(--c2) 0
    );
  background-size: calc(1.732 * var(--s)) var(--s);
}

.bg-azul {
  color: #08152e;
  -webkit-text-stroke: 0.2px black;

  font-weight: bold;
}

.bg-verde {
  color: #12d8a0;
}

.link-success {
  font-weight: bold;
  font-size: 1.2rem;
}

.nav-link {
  background-color: #ffffff;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.5rem;
  color: #111827;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease; /* Transición suave para todos los cambios */
}

.nav-link:hover {
  background-color: #f9fafb; /* Cambio de color de fondo */
  transform: translateY(-2px); /* Efecto de elevación */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada */
}

.nav-link:active {
  transform: translateY(0); /* Vuelve a la posición original al hacer clic */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra más suave al hacer clic */
}

.nav-link.link-success {
  color: #12d8a0; /* Color verde para los enlaces */
}

.nav-link.link-success:hover {
  color: #0fa67d; /* Cambia el color al pasar el mouse */
}
