#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mainSection {
    flex-grow: 1;
}

.logoAppstore
{
    width: 120px;
    height: 40px;
}

.colorPrimario
{
    background-color: #1b1b1b
}

.textoFooter
{
    color: #3091f4;
}

.footerInferior
{
    background-color: #3091f4;
}

.textoFooterInferior
{
    color: #1b1b1b;
}
